*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
img {
    width: 100%;
}
body{
    background-color: rgb(78, 139, 219);
}

.container{
    margin: 20px 40px;
    color: white;
}
.heading{
    font-size: 60px;
    color:aquamarine;
}
.heading span {
    font-style: italic;
    font-size: 30px;
}
.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}
.profile{
    flex-basis: 260px;
}
.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}
.profile:hover .profile-img {
    filter: grayscale(0);
}
.name {
    margin-top: 30px;
    font-size: 35px;
}
.profile h5 {
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
/* Navigation bar */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #08193d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

@media only screen and (max-width: 1150px) {
    .profiles{
        flex-direction: column;
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .heading{
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .heading span {
        font-size: 15px;
    }
    .profiles{
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
}

